body {
  background-color: grey;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/*---------------GENERAL---------------*/
.list {
  list-style: none; /*забирає крапку перед списком*/
}
.link {
  text-decoration: none; /*забирає підкреслення посилання*/
}
/*---------------Хедер---------------*/
.header-nav {
  font-family: 'relaway', sans-serif;
}

/* ul {list-style: none;} - забирає крапочку перед елементами списку  */

.team {
  background-color: #f5f4fa;
}
